.div-border {
	width: 100px;
	height: 100px;
	background-color: purple;
	margin: 20px;
}

.border-radius1 {
	border-radius: 50%;
}

.border-radius2 {
	border-top-right-radius: 20px;
	border-bottom-left-radius: 40px;
}