@keyframes animacao5{

    0%{left: 0px;}
    25%{left: 20px; background-color: blue;}
    60%{left:100px; background-color: orange;}
    80%{left: 100px; background-color:blue;}
    100%{right: 50px; background-color: red;}

}
#animation-div9{
    background-color: darkblue;
    width: 50px;
    height: 50px;
    position: relative;
    animation: animacao5 8s ease-out 4s infinite;
}